<!--
  Generated template for the ScheduleFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Horario y Cantidad</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color:#EFFBF5;">

    <form [formGroup]="invoiceForm">
      <div formArrayName="itemRows">
        <div *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index"  [formGroupName]="i">
          <div class="form-group">
            <h4><label>Hora</label></h4>
            <input formControlName="hour" type="time" class="form-control">
            <br>

      		<ion-item id="horario-range">
        	<ion-range style="padding-left:0px" [(ngModel)]="quantity" min="0" max="6" color="balanced" value="0" formControlName="quantity">
         	 	<ion-icon range-left>
           		 <img src="assets/imgs/cup.svg" alt="" height="40px" width="40px">
          		</ion-icon>
          		<ion-label range-right>
            		<div *ngIf="quantity; else other_quantity">
              			<p style="font-size:30px;color:#AED581">{{quantity/2}}</p>
            		</div>
            		<ng-template #other_quantity>
              		<p style="font-size:30px">0</p>
            		</ng-template>
          		</ion-label>
          	</ion-range>
          	</ion-item>  
      		
          </div>
          <button ion-button icon-left color="danger" clear *ngIf="invoiceForm.controls.itemRows.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger"><ion-icon name="delete"></ion-icon>Cancelar </button>
        </div>
      </div>
    </form>
    <button ion-button  icon-left (click)="addNewRow()" color="secondary" clear><ion-icon name="home"></ion-icon>Ingresar</button><br>
<button ion-button block (click)="closeModal()">Close Modal</button>
</ion-content>