<ion-header>
  <ion-navbar>
    <ion-title>
      Horario
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2" style="background-color:#EFFBF5;">
  <div *ngIf="schedule.length > 0">
    Hola
    <div *ngFor="let row of schedule">
      {{row}}
      {{debugger}}
    </div>
  </div>
  <div *ngIf="index < 4">
    <ion-fab bottom center>
    <button *ngIf="index < 4" ion-fab mini color="secondary" on-click="openModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  </div>
</ion-content>
